<!-- Include Head -->
<%- include('./partials/header.ejs') %> 

	<body>	
		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"> <%= data.nombre %></h2> 

				<div class="edicion">
					<% if (locals.user && locals.user.id == data.usuario_id) { %>

						<form action="/products/<%= data.id %>/edit">
							<input style="margin-left: 15px;" class="btn btn-danger" type="submit" value="Editar producto">
						</form>
								
						<form action="/products/<%= data.id %>/delete" method="post">
							<input class="btn btn-danger" type="submit" value="Borrar">
						</form>		
					<% } %>
				</div>
			</div>

			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= data.imagen %>" alt="" class="product-detail-img">
						<p class="product-detail-description"><strong>Descripcion:</strong> <%= data.descripcion %></p>
					</article>
					
					<div class="col-12 col-lg-4">
						<h1>Comentarios</h1>
						<% for (let i = 0; i < data.comentarios.length; i++) { %>
							<section class="comments">
								<article>
									<img src="<%= data.comentarios[i].usuario.foto %>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile"><%= data.comentarios[i].usuario.nombre +':' %></a> </strong>
										<%= data.comentarios[i].texto %></p>
									</div>
								</article>
							</section>
						<% } %>
						
						<form class="form" action="/products/<%= data.id %>/comentario" method="post">
							<input class="form-input" type="textarea" name="comentario" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button" value="comentario">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include('./partials/footer.ejs') %> 
		<!-- /footer -->
	</body>	
</html>