<!-- Include Head -->
<%- include('./partials/header.ejs') %> 

	<body>
		<div class="container products-wrapper">
			<div class="row">
				<!-- Formulario para editar perfil -->
				<h2> 
					<div id="contenedor" style="width: 950px;">
						<div id="central">
							<div id="login" style="padding: 30px 45px; margin-top: 0%;">
								<div class="titulo">
									Editar mi perfil
								</div>
								<form method="post" action="/users/profile" id="loginform" enctype="multipart/form-data">
									<input  type="email" name="email" placeholder="<%= perfil.email %>">

									<input type="text" name="nombre" placeholder="<%= perfil.nombre %>">
									
									<input type="password"  name="contraseña" placeholder="<%= perfil.contraseña %>">

									<input type="date" name="nacimiento" placeholder="<%= perfil.nacimiento %>">
									
									<input type="number" name="documento" placeholder="<%= perfil.documento %>">
									
									<a style="color:white">Foto de perfil</a>
									<input type="file" name="fotoDePerfi" style="background-color: rgb(205 205 205);
									padding: 7.2px;">

									<button type="submit" title="GuardarCambios" name="GuardarCambios">Guardar cambios</button>

								</form>
							</div>
							<div class="inferior">
								<a style="width: 25%;" href="/">Volver al inicio</a>
							</div>
						</div>
					</div>
				</h2>
				<!-- Formulario para editar perfil -->

				<!-- footer -->
				<%- include('./partials/footer.ejs') %> 
				<!-- /footer -->
			</div>
		</div>
	</body>
</html>