<!-- Include Head -->


     <!-- Head -->
	 <%- include('./partials/header.ejs') %> 

<body>

	<!-- Resultados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
					<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
		</div>
	</div>

	

	<% if(locals.erroresBuscador !== "undefined" ) { %> 

		<div class="col-12 ">
			<h2 class="mensajeError" style="color: red;"> <i class="fa-solid fa-circle-xmark"></i> No hay resultados para su criterio de busqueda</h2>
		</div>

		<% }  else { %>

		<% for (let i = 0; i < resultados.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= resultados[i].id %>">
						<figure class="product-box_image">
							<img class="foto" src="<%= resultados[i].imagen %>" alt="<%= resultados[i].nombre %>">
						</figure>
						<article class="product-box_data">
							<h2><%= resultados[i].nombre %></h2>
							<p><%= resultados[i].descripcion %></p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>	
		<% } %>
	<% } %>
	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>
